/node_modules
/.pnp
.pnp.*
/.next/
/out/
/build
.DS_Store
*.pem
/CV.pdf
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env*.local
.vercel
*.tsbuildinfo
/WEB_BB13/
/pemirakmitb2026/
